body {
    background-color: #fff6e5 !important;
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
}

p {
    overflow-wrap: break-word;
}

.ui.button, .ui.button:focus {
    background: #be9400;
}

    .ui.button.active {
        background: #ffc700;
    }

        .ui.button:hover, .ui.button.active:hover {
            background-color: #ffc70d;
            box-shadow: 2px 2px 3px 0px rgba(66, 68, 90, 1);
            transition: background 0.3s linear;
        }

.app {
    position: relative;
    min-height: 100vh;
}

.content-style {
    margin-top: 100px;
    padding-bottom: 200px;
}

.category-header {
    color: #fff6e5;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.category-description {
    color: #fff6e5;
    font-size: 20px;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.center-element-to-its-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.homepage-about-grid-column {
    border-radius: 15px;
    padding: 14px;
    margin: 10px;
    background: #be9400;
}

.homepage-about-div {
    width: 60%;
    background: url("/public/assets/BazArt_logo_Theme_Light.jpeg");
    background-size: cover;
    background-position: center;
}

.footer {
    width: 100%;
    background: #be9400;
    position: absolute;
    bottom: 0;
}

.background-color-gold {
    background-color: #ffc70d !important;
}

.background-color-creme {
    background-color: #fff6e5 !important;
}

.modal-background {
    background: #fff6e5 !important;
}

.image-fit-container {
    width: 100%;
    height: 100%;
}

.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff6e5;
    z-index: 1000;
}